<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="/CSS/styles_sessions_new.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Create a new place </h1>
      <a href="/travel">Back to Index</a>

      <form action="/travel" method="POST">
        <div class="row">
          <div class="four columns">
            <label for="city">City</label>
            <input type="text" name="city" id="city" class="u-full-width" />
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label for="country">Country</label>
            <input type="text" name="country" id="country" class="u-full-width" />
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label for="imgURL">Image URL</label>
            <input type="text" name="imgURL" id="imgURL" class="u-full-width" />
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label for="comments">Comments</label>
            <input type="text" name="comments" id="comments" class="u-full-width" />
          </div>
        </div>

        <button class="button-primary" type="submit" value="Create new place">Create a new place</button>

      </form>
    </div>
  </body>
</html>



