

.wrapper {
  max-width: 600px;
  border: 1px solid black;
  margin: 0 auto;
}

.wrapper, .row, form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.four.columns, button {
  align-self: center;
}

label {
  text-align: center;
}
