<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/CSS/styles_sessions_new.css">
  </head>
    <body>
      <div class="wrapper">
        <h1>Log In</h1>
        <%# <div class="row"> %>
          <form action="/travel/sessions" method="POST">
            <div class="row">
              <div class="four columns">
                <label for="username">User Name</label>
                <input placeholder="Placeholder" id="username" type="text" class="validate" name="username" required>
              </div>
            </div>
            <div class="row">
              <div class="four columns">
                <label for="password">Password</label>
                <input id="password" type="password" class="validate" name="password" required>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit

            </button>
          </form>
      </div>
    </body>
</html>






