<%# <!DOCTYPE html>
<html>
  <head>

  </head>
    <body>
      <div class="container">
        <h1>Create User</h1>
        <div class="row">
          <form action="/travel/users" method="POST" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="your username" id="username" type="text" class="validate" name="username" required>
                <label for="username">User Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password" required>
                <label for="password">Password</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            </button>
          </form>
        </div>
    </body>
</html> %>


<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/styles_sessions_new.css">
  </head>
    <body>
    <div class="container">

      <header class="header">
        <div class="left">
        <a href="/travel">
          <img src='../../images/travel.jpg'>
          <span>Resfeber</span>
        </a>
        </div>
        <div class="right">
        <% if (!currentUser) {%>
          <p>Resfeber (n.) Origin: Swedish. Definition: The restless race of the traveller's heart before the journey begins, when anxiety and anticipation are tangled together.</p>
        <% } else {%>
          <p style="font-size: 4rem; display: inline-block; margin: 0 auto;">Welcome, <%= currentUser.username %></p>
        <% } %>
        </div>
      </header>

      <div class="wrapper">
        <h1>Sign up</h1>
        <%# <div class="row"> %>
          <form action="/travel/users" method="POST">
            <div class="row">
              <div class="four columns">
                <label for="username">User Name</label>
                <input placeholder="Placeholder" id="username" type="text" class="u-full-width" name="username" required>
              </div>
            </div>
            <div class="row">
              <div class="four columns">
                <label for="password">Password</label>
                <input id="password" type="password" class="u-full-width" name="password" required>
              </div>
            </div>
            <button class="button-primary" type="submit" name="action">Submit

            </button>
          </form>
      </div>
    </div>
    </body>
</html>
